.container {
    width: 500px;
}
.titleApp{
    font-size: 23px;
}
.menu {
    padding-top: 8px;
    padding-bottom: 20px;
}

#customerBlock {
    display: none;
}

#employeeBlock {
    display: none;
}

.innerCustomer {
    display: inline-grid;
    padding-bottom: 10px;
    padding-right: 10px;
}

.innerEmployee {
    display: inline-grid;
    padding-bottom: 10px;
    padding-right: 10px;
}

input {
    height: 18px;
    width: 150px;
    font-size: 18px;
}

select {
    height: 21px;
    width: 109px;
}

label {
    font-size: 14px;
}
